@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    max-width: 1600px;
    margin: 0 auto;
    padding:5% 10% 0 10%;
}

a {
    color: #000;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;

    /* Instead use this non-standard one: */
    word-break: break-word;
}

a:hover {
    opacity: 0.6;
}

h5 {
    margin: 3em 0 0 0;
    color: #e55234;
    font-size: 0.8em;
}

h1 {
    font-weight: normal;
    margin: 0;
    font-size: 2em;
}

p {
    font-size: 1em;
    margin: 0 0 2em 0;
    line-height: 2em;
}

img {
    border: 1px solid #777;
    margin: 0.5em 0;
    width: 100%;
    max-width: 800px;
}

/* Note */

.note-wrapper {
    border-bottom: 1px solid #999;
    font-size: 0.8em;
}

.note-wrapper p {
    margin: 2em 0;
}

.note {
    margin-bottom: 3em;
}

.readmore-state {
    display: none;
}

.readmore-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.5s ease;
}

ul.readmore-target li {
    margin: 1em 0;
    line-height: 2em;
}

ul.readmore-target li:last-child {
    margin-bottom: 5em;
}

.readmore-state:checked ~ .note .readmore-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.readmore-state ~ .readmore-trigger:before {
    content: 'Read more >';
}

.readmore-state ~ label.readmore-trigger {
    margin: -5em 0 6em 0;
    display: inline-block;
    border: 1px solid #777;
}

.readmore-state:checked ~ .readmore-trigger:before {
    content: '< Show less';
}

.readmore-state:checked ~ label.readmore-trigger {
}

.readmore-trigger {
    cursor: pointer;
    display: inline-block;
    text-align: right;
    margin-right: 2em;
    color: #777;
    padding: 1em;
    font-size: 0.8em;
    float: right;
}

.readmore-trigger:hover {
    opacity: 0.6;
}

footer {
    border-top: 1px solid #999;
    text-align: right;
    margin-top: 5em;
    font-size: 0.6em;
    padding-top: 1em;
    color: #777;
}

footer a {
    color: #777;
}

footer p {
    width: 65%;
    padding: 0 2% 0.9em 0;
    display: inline-block;
    margin: 0;
}

footer img {
    width: 10em;
    border: none;
    cursor: pointer;
    margin: 0;
    display: inline-block;
}

footer img:hover {
    opacity: 0.6;
}

@media all and (max-width: 768px) {
    body {
        padding: 5% 5% 0 5%;
        font-size: 14px;
    }

    .readmore-trigger {
        right: 5%;
    }
}

@media all and (max-width: 450px) {
    body {
        padding: 5% 3% 0 3%;
        font-size: 12px;
    }
    .note-wrapper{
        border-bottom: none;
    }

    .readmore-trigger {
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }

    footer p {
        width: 100%;
        padding: 1em 0 2em 0;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size:1.4em;
    }

    footer img {
        width: 26%;
        border: none;
        cursor: pointer;
        margin: 0 37% 2em 37%;
        display: block;
    }
}
